*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ------------  Main ------------- */
main{
    padding-top: 51px;
    background: url(assets/banner-hero-desktop.jpg) no-repeat center center;
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 768px;
    padding-top: 100px;
}

/* ------------Fim main ------------- */

/* ------------Seção Como Participar ------------- */
.participar{
    text-align: center;
    padding: 60px 0 50px 0;
}

.participar h2{
    font-family: sans-serif;
    font: 36px;
    text-align: center;
    color: #000;
}

.participar-icon{
    background: url(assets/bg-item.svg) no-repeat center center;
    height: 150px;
}

.participar-icon img{
    border: 3px solid #fff;
    border-radius: 15px;
    padding: 40px 30px;
    margin-top: 12px;
}
.como_participar h3{
    margin: 20px 0 10px 0;
}

.como_participar a{
    color: #000;
}

.como_participar .btn-cadastrar{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 77px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 13px;
    background: #fff;
    display: inline-block;
}

.btn-cta{
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 18px 5px 5px 5px;
    gap: 20px;
}

.como_participar .btn-link{
    width: 200px;
    height: 40px;
    border: solid 1px #000;
    border-radius: 40px;
    background-color: #f8071b;
    color: #fff;
    padding: 8px 0 7px 0;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}


/* ----------------------------------- ------------- */

/* ------------Seção Tenha mais chances ------------- */
.chances h2{
    font-family: 'SantanderHeadLine-Bold';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.tenha_mais_chances{
    background: url(assets/banner-chance.jpg) no-repeat center center;
    background-size: cover;
    padding: 60px 0 50px 0;
}

.chance-box{
    background: url(assets/bg-item-1.svg) no-repeat center center;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: contain;
    width: 290px;
    height: 290px;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
}

.chance-box img{
    text-align: center;
    margin-bottom: 27px; 
}

.chance-box p .title-item{
    font-family: 'SantanderHeadline-Bold';
    margin: 26px auto 0 auto;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: #000;
    display: block;
}

.chance-box p{
    width: 246px;
    display: block;
    margin: 26px auto 0 auto;
    font-family: Santander Text;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    color: #3a3a3a;
}

.cta-hero{
    margin-top: 30px;
}

.title-cta{
    color: #fff;
    text-decoration: none;
}

.cta-hero .title-cta span{
    padding: 2px 13px 4px;
    border-radius: 6px;
    border: solid 1px #fff;
}

.cta-hero.cta-white .title-cta{
    font-family: SantanderHeadLine-Bold;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -2.24;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}

.tenha_mais_chances .btn-link{
    width: 200px;
    height: 40px;
    border: solid 1px #000;
    border-radius: 40px;
    background-color: #f8071b;
    color: #fff;
    padding: 8px 0 7px 0;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}

/* -------------------------------------------------- */

/* ------------Seção Premios ------------- */
.premios{
    padding: 60px 0 0 0;
}

.conteudo-premios{
    margin-top: 20px;
    text-align: center;
}

.premios .conteudo-premios h3{
    font-family: SantanterText;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    display: block;
}

.premios .conteudo-premios h3 span{
    font-family: 'SantanderHeadLine-Bold';
}

.texto-explicativo{
    font-family: 'SantanderText-italic';
    margin: 20px 0 20px 0;
    font-size: 1.1rem;
    color: #000;
}

.premios .texto-explicativo a{
    color: #000;
    text-decoration: underline;
}

.premios .btn-cadastrar{
    font-family: 'SantanderHeadLine-Bold';
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px 13px;
    background: #fff;
    display: inline-block;
}

.premios .btn-link{
    width: 200px;
    height: 40px;
    border: solid 1px #000;
    border-radius: 40px;
    background-color: #f8071b;
    color: #fff;
    padding: 8px 0 7px 0;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
}
/* -------------------------------------------------- */